@use '../../styles/variables' as *;

.btn {
  min-height: 20px;
  min-width: 59px;
  padding: 0 20px;
  text-align: center;
  background: $primary;
  border-style: solid;
  border-width: 5.5px;
  border-image: url('../../assets/icon/button.svg') 30 stretch;
  color: $secondary;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-family: Chicago_12;
  cursor: pointer;

  &:active {
    background: $secondary;
    border-radius: 6px;
    color: $primary;
  }

  &:disabled {
    background: $primary;
    color: $disabled;
  }
}

.btn-default {
  @extend .btn;
  border-image: url('../../assets/icon/button-default.svg') 60 stretch;
  border-width: 0.5em;

  &:active {
    border-radius: 12px;
  }
}
